.acp-panel-primary {
    border: 3px @brand-primary solid;
    background-color: white;

	.panel-heading {
		border-bottom: 3px @brand-primary solid;

		.panel-title {
			font-size: 34px;

			img {
				margin-top: -10px;
				margin-right: 5px;
			}
		}
	}

	h3:first-child {
		margin-top: 0;
	}
}

.rb-nav {
	margin-left: -1px;

	img {
		margin-top: -5px;
		margin-right: 7px;
	}

	&+span {
		margin-top: -18px;
	}
}

.redactor-toolbar li a.re-rainbows, i.rainbows {
	background-size: 16px 16px;
	background-repeat: no-repeat;
	display: block;
	background-position: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAj5JREFUeNqkVEtrE1EYPZM7j7ya2KaJSW3AWgxiMUWCgojaaLNy4cKVIP0D1a1QUNSfYf+AuBBx3YURdGOTjRu1SogNmATa0OadzON6JtRFi7aKA2eymHse3+NGkVLifx5FZjL/ct4gNMJ1HaJQMNW/IHmIyT04UNFGAh0ch+l+PEpggjg/cp7GLq6giXMQiEBx0x8lME9cQhgD3CL5IvodTWjrCKlrGPeU4FWeHyJwnVjEWUZdwk5nXAxfItp7gZhehyagTwj4p/+YYIG4iwvo8+0peX3WI8yYX5RAH+G5LmI5HfqsQFv9rcAp4h6dBcmdojeEFczYDT1qI3lnADHfRRltveqo0VpLwdLYPgF3PCuseYqx+3QWJCsNX5Ky921UIwP/Z6uXLtZaqa/bmrdnebCU2Sdwg7jKhg1Ys8bYKp1VkgXKEZz40LIX8uX+se6weTIA43SCKQ+UsMxR+dltjQ0zWLPB2DqddZLF4loJcWmZ2Sm0J3U0Do4xTVzmnB2OSme3LYTmDNZsMLZBZ51k7WYC8Ats8ewmsfNry9wnRymDS+LlnH0cVQDxXBDfEU4X6xHGjmdjSJIc4tnXbyvF2tP3q6NLpGY3NvAmlbrG9dS4YZJLIjlntnTW0X84Dhtms+YAYwdJfPjk3Wo9v1kcuT7GM6j5VitSMc0zSlAKpwZ8dCwM/AZk55sMFZrYqpXkMCLletWs3H714NN2b9dd7+7oMvFuuI3wE2OEOGStHcIizD2i+2vzr0D+FGAARenLmDXrT3oAAAAASUVORK5CYII=);
}

i.rainbows {
	min-height: 18px;
	min-width: 14px;
	margin-bottom: 2px;
}

.redactor-toolbar li a.re-rainbows:hover {
	background-color: #1F78D8;
}

.colorpicker {
	z-index: 10100;
}

#rainbows-modal {
	z-index: 10050;
}

.color-preset, #color-custom {
	width: 26px;
}

.color-preset, #color-custom, #picker-button, #rainbows-remove-one, #rainbows-remove-all {
	height: 26px;
	padding: 2px;
	margin: 4px;
}

#picker {
	height: 0;
	width: 0;
	position: relative;
	left: -7px;
	top: 21px;
}
